---
/** @jsxImportSource astro */
import { cn } from 'utils/cn';
import PhStarFill from 'src/assets/icons/ph/fill/star-fill.svg';
import PhStarHalfFill from 'src/assets/icons/ph/fill/star-half-fill.svg';
import PhStarLight from 'src/assets/icons/ph/light/star-light.svg';

type Props = {
  rating: number;
  class?: string;
};

function getStarDistribution(rating: number = 0, maxStars = 5) {
  if (rating === 0) {
    return { fullStars: 0, halfStars: false, emptyStars: maxStars };
  }

  let fullStars = Math.floor(rating);
  const fractional = rating - fullStars;

  const halfStars = fractional >= 0.25 && fractional < 0.75 ? 1 : 0;
  if (fractional >= 0.75) {
    fullStars++;
  }

  const emptyStars = maxStars - (fullStars + halfStars);

  return { fullStars, halfStars: halfStars === 1, emptyStars };
}

const { rating = 0, class: className } = Astro.props;
const startIconStyle = cn(
  'text-amber-11 fill-current text-lg w-6 h-6',
  className
);
const startDistribution = getStarDistribution(rating);
// console.log(startDistribution);
---

<ul class="flex items-center gap-3">
  {
    startDistribution.fullStars > 0 &&
      [...Array(startDistribution.fullStars).keys()].map(() => (
        <li>
          <PhStarFill
            title="Star rating"
            class={startIconStyle}
            mode="sprite"
          />
        </li>
      ))
  }
  {
    startDistribution.halfStars && (
      <li>
        <PhStarHalfFill
          title="Half Star rating"
          class={startIconStyle}
          mode="sprite"
        />
      </li>
    )
  }
  {
    startDistribution.emptyStars > 0 &&
      [...Array(startDistribution.emptyStars).keys()].map(() => (
        <li>
          <PhStarLight
            title="Half Star rating"
            class={startIconStyle}
            mode="sprite"
          />
        </li>
      ))
  }
</ul>
