---
import markdownit from 'markdown-it'; // or your preferred Markdown component
import { tv, type VariantProps } from 'tailwind-variants';
import Prose from '../typography/prose.astro';

export type TextProps = {
  text: string;
  tailwind?: string;
  style: VariantProps<typeof textVariants>;
};

type Props = TextProps;

const textVariants = tv({
  base: 'flex flex-col whitespace-normal break-all',
  variants: {
    padding: {
      loose: { container: 'px-6 py-12 md:px-12 md:py-20' },
      normal: { container: 'px-4 py-6 md:px-5 md:py-8' },
      tight: { container: 'px-2 py-4 md:px-4 md:py-8' }
    },
    container: {
      fluid: { container: 'max-w-none' },
      centered: { container: 'mx-auto max-w-screen-xl' }
    },
    align: {
      leading: { text: 'flex items-start text-left' },
      trailing: { text: 'flex items-end text-right' },
      centered: { text: 'flex items-center text-center' }
    }
  },
  slots: {
    container: '',
    text: ''
  },
  defaultVariants: {
    padding: 'normal',
    container: 'centered',
    align: 'leading'
  }
});

const { text, style } = Astro.props;
const { padding, align, container } = style;

const md = markdownit({ html: true });
const textHTML = md.render(text ?? '');
const { container: containerStyle, text: textStyle } = textVariants({
  padding,
  container,
  align
});
---

<div class={containerStyle()}>
  <Prose class={textStyle()} set:html={textHTML} />
</div>
