---
import { cn } from 'utils/cn';

type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  text: string;
  selected?: boolean;
};

const { href, text, selected } = Astro.props;
const syle = cn(
  'flex-1 px-6 py-4 text-center text-gray-700 hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-800',
  selected ? 'bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-800' : ''
);
---

<a href={href} class={syle} aria-selected={selected}>{text}</a>
