---
import { cn } from 'utils/cn';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class={cn(
    'flex border-b dark:border-gray-700 items-center h-full flex-grow',
    className
  )}
>
  <slot />
</div>
