---
import type { HTMLAttributes } from 'astro/types';
import { type VariantProps } from 'tailwind-variants';
import { cn } from 'utils/cn';
import { buttonVariants } from './button.style';

type Props = HTMLAttributes<'a'> &
  VariantProps<typeof buttonVariants> & {
    class?: string;
  };

const {
  title,
  class: className,
  variant,
  stretch,
  size,

  ...props
} = Astro.props;
const css = cn(buttonVariants({ size, variant, stretch, className }));
---

<a {...props} class={css}><slot /></a>
