---
import { tv, type VariantProps } from 'tailwind-variants';

export const containerVariants = tv({
  variants: {
    size: {
      full: 'max-w-full',
      sm: 'max-w-sm',
      md: 'max-w-md',
      lg: 'max-w-lg',
      xl: 'max-w-xl',
      '2xl': 'max-w-2xl'
    },
    padding: {
      none: '',
      contained: 'px-4 md:px-12',
      tight: 'px-2 md:px-8',
      normal: 'px-6 md:px-10'
    }
  },
  defaultVariants: {
    size: 'full',
    padding: 'none'
  }
});
export type ContainerProps = VariantProps<typeof containerVariants>;
type Props = ContainerProps;
const style = containerVariants(Astro.props);
---

<div class={style}>
  <slot />
</div>
