---

---

<div class="flex w-full">
  <div class="mt-48 hidden max-w-fit lg:block lg:w-1/4">
    <div
      class="border-gray-300 overflow-hidden rounded-bl-lg rounded-tl-lg border-b border-l border-t dark:border-gray-600"
    >
      <slot name="features" />
    </div>
  </div>
  <div
    class="border-gray-300 flex w-full flex-wrap rounded-lg rounded-bl-none dark:border-gray-600 lg:border"
  >
    <slot name="packages" />
  </div>
</div>
