---
type Props = {
  title: string;
  price: string;
  period: string;
  popular?: boolean;
};

const { title, price, period, popular = false } = Astro.props;
---

<div
  class="group relative w-full transition-colors duration-300 hover:rounded-lg hover:bg-gray-200 dark:border-gray-600 dark:hover:bg-gray-950 lg:mb-0 lg:w-1/3 lg:rounded-none"
>
  {
    popular && (
      <span class="bg-primary absolute right-0 top-0 rounded-bl px-3 py-1 text-xs tracking-widest text-white">
        POPULAR
      </span>
    )
  }
  <div
    class="flex h-48 flex-col items-center justify-center border-b border-gray-300 px-2 text-center dark:border-gray-600"
  >
    <h3 class="tracking-widest">{title}</h3>
    <h2
      class="mb-4 mt-2 text-5xl font-medium leading-none text-gray-900 dark:text-white"
    >
      {price}
    </h2>
    {
      period ? (
        <span class="text-sm text-gray-600 dark:text-gray-400">{period}</span>
      ) : null
    }
  </div>
  <slot />
  <!-- <div class="border-t border-gray-300 p-6 text-center dark:border-gray-600">
    <button
      class="mt-auto flex w-full items-center rounded border-0 bg-indigo-500 px-4 py-2 text-white hover:bg-indigo-600 focus:outline-none"
      aria-label={`Choose ${title} Plan`}
    >
      Button
    </button>
  </div> -->
</div>
