/* Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
} */

/* Utilities */
.bg-page {
  background-color: var(--aw-color-bg-page);
}
.bg-dark {
  background-color: var(--aw-color-bg-page-dark);
}
.bg-light {
  background-color: var(--aw-color-bg-page);
}
.text-page {
  color: var(--aw-color-text-page);
}
.text-muted {
  color: var(--aw-color-text-muted);
}

/* Components */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #d1d5db; /* Tailwind's border-gray-400 */
  background-color: transparent;
  font-weight: 500;
  text-align: center;
  font-size: 1rem; /* Tailwind's text-base */
  color: var(--aw-color-text-page);
  line-height: 1.25rem; /* Tailwind's leading-snug */
  transition: all 0.2s ease-in;
  padding: 0.875rem 1.5rem; /* Tailwind's py-3.5 and px-6 */
}
.btn:hover {
  background-color: #f3f4f6; /* Tailwind's hover:bg-gray-100 */
  border-color: #9ca3af; /* Tailwind's hover:border-gray-600 */
}
.btn:focus {
  outline: 2px solid #3b82f6; /* Tailwind's focus:ring-blue-500 */
  outline-offset: 2px;
}
.btn:active {
  outline-offset: 0;
}

/* Dark mode */
.btn.dark {
  color: #cbd5e1; /* Tailwind's dark:text-slate-300 */
  border-color: #64748b; /* Tailwind's dark:border-slate-500 */
}
.btn.dark:hover {
  background-color: #1e293b; /* Tailwind's dark:hover:bg-slate-800 */
  border-color: #1e293b; /* Tailwind's dark:hover:border-slate-800 */
}

.btn-primary {
  font-weight: 600;
  background-color: #3b82f6; /* Tailwind's bg-primary */
  color: #ffffff;
  border-color: #3b82f6; /* Tailwind's border-primary */
}
.btn-primary:hover {
  background-color: #ef4444; /* Tailwind's hover:bg-secondary */
  border-color: #ef4444; /* Tailwind's hover:border-secondary */
}

.btn-tertiary {
  border: none;
  box-shadow: none;
  color: var(--aw-color-text-muted);
}
.btn-tertiary:hover {
  color: #111827; /* Tailwind's hover:text-gray-900 */
}

/* Header */
#header.scroll > div:first-child {
  background-color: var(--aw-color-bg-page);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  background-color: var(--aw-color-bg-page);
  background-color: #030621e6;
  border-bottom: 1px solid rgba(75, 85, 99, 0.2); /* Tailwind's border-gray-500/20 */
  box-shadow: none;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

/* Dropdown */
.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  transition: all 0.2s ease-in-out;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  transform: rotate(-45deg) translate(15px, -3px);
}
[data-aw-toggle-menu].expanded g > path:last-child {
  transform: rotate(45deg) translate(-8px, 14px);
}

/* Deprecated */
.dd *:first-child {
  margin-top: 0;
}

/****************Blog****************/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.pagination .page-link {
  display: inline-block;
  padding: 20px 27px;
  margin: 0 15px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
}

.pagination .page-link.active {
  background: #034ad8;
  border-color: #034ad8;
}

.pagination .page-link svg {
  margin-right: -2px;
  color: #034ad8;
}

.pagination .page-link:hover svg g {
  fill: #034ad8;
}

.blog-post-tag {
  margin-block: 1rem;
}

.blog-post-tag a {
  background: #f1f1f1;
  border-radius: 6px;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 12px;
  color: #034ad8;
  font-weight: 500;
  margin-right: 1rem;
}

/****************end Blog ****************/

/**************** mkardown ****************/
.markdown-text h1,
.markdown-text h2,
.markdown-text h3,
.markdown-text h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.markdown-text h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.markdown-text h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.markdown-text h3 {
  font-size: 2rem;
  line-height: 2rem;
}

.markdown-text h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.markdown-text p,
.markdown-text a,
.markdown-text ol li,
.markdown-text ul li {
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.75rem;
}

.markdown-text p {
  margin-bottom: 1.5rem;
}

.markdown-text li p {
  margin-bottom: 0.125rem;
}

.markdown-text li {
  margin-bottom: 0.25rem;
}

.markdown-text blockquote {
  font-style: italic;
  border-left: 5px solid #000000;
  padding-inline: 1rem;
  margin-inline: 0;
  margin-block: 1rem;
}

.markdown-text ul li {
  margin-inline: 1rem;
  padding-block: 0.125rem;
  list-style: disc;
}

.markdown-text ol li {
  list-style-type: decimal;
  padding-block: 0.125rem;
  margin-inline: 1rem;
}

.markdown-text a {
  color: blue;
  cursor: pointer;
}

.markdown-text sup {
  vertical-align: super;
  font-size: smaller;
}

.markdown-text sub {
  vertical-align: sub;
  font-size: smaller;
}

.markdown-text table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.markdown-text table p {
  margin-bottom: 0;
  padding-block: 0.5rem;
}

.markdown-text th,
.markdown-text td {
  border: 1px solid #f2f2f2;
  padding: 0.5rem;
}

.markdown-text table caption {
  background-color: #f2f2f2;
}

.markdown-text table thead {
  background-color: #f2f2f2;
}

.markdown-text img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

.markdown-text hr {
  border: 0;
  border-top: 1px solid #928f8f;
  margin: 1.5rem 0;
}

.markdown-text pre {
  margin-block: 1.5rem;
  padding: 1rem;
}
