---
import { cn } from 'utils/cn';
import ResponsiveImage, {
  type ResponsiveImageProps
} from '../responsive-image/ResponsiveImage.astro';

type Props = ResponsiveImageProps & { class?: string };

const { class: className, ...props } = Astro.props;
---

<div class="bg-primary overflow-clip">
  <ResponsiveImage
    {...props}
    class={cn(
      'aspect-video h-full transition-all duration-700 group-hover:scale-110 group-hover:opacity-50',
      className
    )}
  />
</div>
