---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import type { StackProps } from '../stack/stack.style';
import { cn } from 'utils/cn';
const cardVariants = tv({
  base: 'border:border-slate-100 group relative overflow-clip rounded-2xl bg-white shadow-xl shadow-slate-900/10',
  variants: {
    layout: {
      vertical: 'flex flex-col',
      horizontal:
        'flex flex-col md:flex md:flex-col lg:grid lg:grid-cols-[33%_minmax(66%,_1fr)]'
    },
    variant: {
      primary: 'text-primary bg-transparent',
      outline: 'text-primary bg-transparent',
      ghost: 'text-primary bg-transparent'
    },
    color: {
      primary: 'text-primary',
      secondary: 'text-primary',
      accent: 'text-accent',
      neutral: 'text-neutral',
      info: 'text-info'
    },
    frame: {
      none: 'shadow-none',
      light: 'border-solid shadow-sm',
      medium: 'border-solid shadow-md',
      hard: 'border-solid shadow-lg'
    },
    elevation: {
      none: 'shadow-none',
      soft: 'shadow-sm',
      medium: 'shadow-md',
      hard: 'shadow-lg'
    },
    radius: {
      none: 'rounded-none',
      sm: 'rounded-sm',
      md: 'rounded-md',
      lg: 'rounded-lg',
      xl: 'rounded-xl',
      full: 'rounded-full'
    }
  },
  defaultVariants: {
    layout: 'vertical',
    variant: 'primary',
    color: 'primary',
    elevation: 'medium',
    radius: 'none'
  }
});

type Props = {
  href?: string;
  title?: string;
} & Pick<StackProps, 'distribution' | 'layout'> &
  VariantProps<typeof cardVariants> & {
    as?: 'div' | 'section';
  } & Pick<HTMLAttributes<'div' | 'section'>, 'class'>;

const {
  layout = 'vertical',
  // distribution = 'leading',
  color = 'primary',
  variant = 'primary',
  // size = 'md',
  elevation = 'medium',
  radius = 'none',
  frame,
  class: className
} = Astro.props;

const cardStyle = cn(
  cardVariants({
    color,
    elevation,
    variant,
    layout,
    radius,
    frame
  }),
  className
);

const { href, title } = Astro.props satisfies Props;
---

<div class={cardStyle}>
  <slot />
  {
    href && (
      <a
        href={href}
        title={title}
        class="absolute inset-0 bottom-0 left-0 right-0 top-0 z-10 -indent-96"
      >
        {title}
      </a>
    )
  }
</div>
