---
import { tv, type VariantProps } from 'tailwind-variants';
import { stack } from '../stack/stack.style';

const stackBase = stack({ layout: 'vertical', spacing: 'medium' });
const cardContentVariants = tv({
  base: stackBase,
  variants: {
    display: {
      overlay:
        'fade-out-55 fade-in group-hover:animate-fade absolute bottom-0 hidden opacity-0 transition-all group-hover:block',
      inline: ''
    }
  },
  defaultVariants: {
    display: 'overlay'
  }
});

export type CardContentProps = VariantProps<typeof cardContentVariants> & {
  class?: string;
};

type Props = CardContentProps;

const { display = 'overlay', class: className } = Astro.props;
const style = cardContentVariants({ display, className });
---

<div class={style}>
  <slot />
</div>
