---
import { getCollection } from 'astro:content';
import type { z } from 'astro:schema';
import Card from 'src/components/card/Card.astro';
import CardContent from 'src/components/card/CardContent.astro';
import CardMedia from 'src/components/card/CardMedia.astro';
import Grid from 'src/components/grid/grid.astro';
import Stack from 'src/components/stack/stack.astro';
import type { LanguageCodes, languageSchema } from 'src/schemas/language';
import { getTeamMemberPath } from 'utils/permalinks';

type Props = {
  type: 'team';
  display: 'slideshow' | 'list';
  contentDisplay: 'overlay' | 'inline';
  frame: 'none' | 'light' | 'heavy';
  layout: 'horizontal' | 'vertical';
  title: string;
  language?: z.infer<typeof languageSchema>;
};
// console.log('team', JSON.stringify(Astro.props));

const language = (Astro.currentLocale ?? 'en') as LanguageCodes;
const collectionItems = await getCollection('team');
const items =
  collectionItems
    .filter((item) => item.data.language === language)
    .sort((a, b) => (a?.data?.order ?? 0) - (b?.data?.order ?? 0)) ?? [];
---

<div class="bg-neutral-200 dark:bg-slate-800">
  <div class="container mx-auto px-20 py-24">
    <Stack layout="vertical" spacing="xlarge" class="gap-16">
      <Grid cols={3}>
        {
          items.map(({ data }) => {
            const { image, title, subTitle } = data;

            return (
              <Card
                href={getTeamMemberPath(data.title, language)}
                title={title}
              >
                {image && <CardMedia {...image} class="min-h-80" />}

                <CardContent
                  display="inline"
                  class="bg-white dark:bg-slate-900"
                >
                  <Stack
                    class="gap-2 p-4"
                    layout="vertical"
                    distribution="center"
                    alignment="center"
                  >
                    <strong class="text-neutral-700 dark:text-neutral-100">
                      {title}
                    </strong>
                    <p class="text-neutral-400 dark:text-neutral-200">
                      {subTitle}
                    </p>
                  </Stack>
                </CardContent>
              </Card>
            );
          })
        }
      </Grid>
    </Stack>
  </div>
</div>
