---
/** @jsxImportSource astro */
import Icon from '../utility/icon';
const block = Astro.props;
---

<div
  class="my-4 flex items-center gap-4 rounded-lg px-4 py-2 shadow-md"
  style={`background-color: ${block.background_color}; color: ${block.color};`}
>
  <div class="w-[1rem]">
    <Icon icon={block.icon} />
  </div>
  <p class="!mb-0">{block.alert_message}</p>
</div>
