---
/** @jsxImportSource astro */
// const reviews=[
// ];
---

<div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
  <h2 class="mb-6 text-3xl font-bold">Testimonials</h2>
  <p class="mb-6 pb-2 text-neutral-600 dark:text-neutral-300 md:mb-12 md:pb-0">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
    numquam iure provident voluptate esse quasi, veritatis totam voluptas
    nostrum quisquam eum porro a pariatur veniam.
  </p>
</div>

<div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12"></div>
