---
import social from 'src/../data/social.json';
import Icon from 'src/components/utility/icon.astro';
// interface Props {
//   language: "en" | "pt";
// }

const network = social as Record<string, any>;
const keys = Object.keys(network);
const socialNetworks = keys.map((k) => network[k]).filter((n) => n !== null);
---

<div class="flex flex-row gap-4">
  {
    socialNetworks.map((network) => {
      return (
        <a
          href={network.href}
          title={network.alt}
          rel="nofollow noopener noreferrer"
          target="_blank"
          class="min-w-6 group flex items-center justify-center text-lg transition-transform duration-150 hover:scale-125"
        >
          {network && network.icon && (
            <Icon title={network.alt} icon={network.icon} />
          )}
        </a>
      );
    })
  }
</div>
