---
import PageHelper from '../shared/astro/page.astro';
import Layout, { type SEOProps } from './Layout.astro';

type Props = {
  frontmatter: {
    title: string;
    content_blocks?: any[];
    page_size?: number;
    seo?: SEOProps;
  };
  class?: string;
  showPageTitle?: boolean;
};

const { frontmatter, class: className, showPageTitle } = Astro.props;
const { content_blocks = [] } = frontmatter;
---

<Layout {...frontmatter} class={className}>
  {
    showPageTitle ? (
      <h1 class="px-6 text-4xl font-bold capitalize">{frontmatter.title}</h1>
    ) : null
  }
  <slot />
  <PageHelper bookshop:live contentBlocks={content_blocks} />
</Layout>
