---
import FeaturedPosts from '../components/featured-posts/featured-posts.astro';
import Layout, { type SEOProps } from './Layout.astro';
import type { FeaturedPost } from 'src/content/config';

export type PaginatedProps = {
  frontmatter: {
    title: string;
    featured_posts: FeaturedPost;
    page_size?: number;
    seo?: SEOProps;
  };
};

type Props = PaginatedProps;

if (!Astro.props.frontmatter) {
  console.log(JSON.stringify(Astro.props), Astro.url, Astro.props);
  throw new Error('Page frontmatter must be defined missing');
}
const { ...props } = Astro.props.frontmatter;
---

<Layout {...props}>
  <slot name="head" slot="head" />

  <div class="blog-index py-[48px]">
    <h1
      class="mt-[48px] text-3xl font-semibold sm:text-4xl md:text-5xl lg:text-6xl"
    >
      {props.title}
    </h1>
    {
      Astro.props.frontmatter?.featured_posts !== null &&
      Astro.props.frontmatter?.featured_posts !== undefined ? (
        <FeaturedPosts
          bookshop:live
          {...Astro.props.frontmatter.featured_posts}
        />
      ) : null
    }
    <slot />
  </div>
</Layout>

<style>
  .blog-index h1 {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
  }
</style>
