---
import FeaturedPosts from '../components/featured-posts/featured-posts.astro';
import Layout, { type SEOProps } from './Layout.astro';

export type PaginatedProps = {
  frontmatter: {
    title: string;
    featured_posts?: {
      main_feature: string;
      feature_list: Array<string>;
    };
    page_size?: number;
    seo?: SEOProps;
  };
};

type Props = PaginatedProps;

if (!Astro.props.frontmatter) {
  throw new Error('Page frontmatter must be defined');
}
const { featured_posts, ...props } = Astro.props.frontmatter;
---

<Layout {...props}>
  <div class="blog-index py-[48px]">
    <h1
      class="mt-[48px] text-3xl font-semibold sm:text-4xl md:text-5xl lg:text-6xl"
    >
      {props.title}
    </h1>
    {featured_posts && <FeaturedPosts bookshop:live {...featured_posts} />}
    <slot />
  </div>
</Layout>

<style>
  .blog-index h1 {
    max-width: var(--pageContainer);
    padding-inline: var(--pagePadding);
    margin: 0 auto;
  }
</style>
