---
import Prose from '../prose/prose.astro';

type Props = {
  type: 'tours' | 'reviews' | 'team' | 'bikes' | 'posts';
  display: 'slideshow' | 'list';
  contentDisplay: 'overlay' | 'inline';
  frame: 'none' | 'light' | 'heavy';
  layout: 'horizontal' | 'vertical';
  title: string;
};

const collectionComponentImports = import.meta.glob(
  '/src/components/collection/**/*.collection.astro',
  {
    eager: true
  }
);

const { type = 'tours', ...data } = Astro.props;

const componentName = `/src/components/collection/components/${type}.collection.astro`;
const CollectionComponent = (collectionComponentImports[componentName] as any)
  ?.default;
---

<div class="flex flex-col gap-10 p-16">
  <Prose markdown={data.title} class="px-6" />
  <CollectionComponent {...data} />
</div>
